* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.input-login {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.button-login {
  width: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  background-color: #47185f;
  color: #fff;
}

.button-login:disabled {
  background-color: #ccc;
  color: #fff;
}

.button-login:hover {
  background-color: #47185fe4;
}
