* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.input-profile {
  margin: 1rem;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.div-edite-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.button-profile {
  width: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  background-color: #47185f;
  color: #fff;
}

.div-profile {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.div-profile img {
  border-radius: 30%;
  border: 10px solid #47185f;
}
