* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #47185f;
  height: 170px;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  font-size: 25px;
  color: #fff;
  background-color: #47185fe3;
  height: 60px;
}

.classe-link {
  margin: 30px;
}

.classe-link:hover {
  background-color: #46278f8f;
}

.bem-vindo {
  font-size: 22px;
  margin: 20px;
  text-shadow: 0.1em 0.2em black;
}

.title-header {
  text-shadow: 0.1em 0.2em black;
}
